<!--Portfolio-->
<section id="portfolio" class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2 id="portfolio_header" class="section__title">My projects_</h2>
        </div>
    </div>
    <div class="row portfolio-menu">
        <div class="col-md-12">
            <nav>
                <ul>
                    <li><a href="" data-portfolio-target-tag="all">all</a></li>
                    <li><a href="" data-portfolio-target-tag="mobile apps">mobile apps</a></li>
                    <li><a href="" data-portfolio-target-tag="web-sites">web-sites</a></li>
                    <li><a href="" data-portfolio-target-tag="landing-pages">landing pages</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="portfolio-cards">
        <!--Mobile Apps-->
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="mobile apps">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/makdosah.png" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Makdosah</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br/>
                    FrontEnd => using React Native with React to build the UI/UX.<br/>
                    BackEnd => using WordPress/WooCommerce with PHP to build the RESTful API.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>React</li>
                    <li>React Native</li>
                    <li>JavaScript</li>
                    <li>WordPress</li>
                    <li>WooCommerce</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://makdosah.com" class="project-card__link">www.makdosah.com</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="mobile apps">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/takkah.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Takkah</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br/>
                    FrontEnd => using Ionic with Angular to build the UI/UX.<br/>
                    BackEnd => using Laravel with PHP to build the RESTful API.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>Ionic</li>
                    <li>Cordova</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Native-API</li>
                    <li>Laravel</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://takkah.me" class="project-card__link">www.takkah.me</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="mobile apps">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/yousaudi.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">YouSaudi</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br/>
                    FrontEnd => using Ionic with Angular to build the UI/UX.<br/>
                    BackEnd => using PHP to build the RESTful API.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>Ionic</li>
                    <li>Cordova</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Native-API</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://www.yousaudi.com/" class="project-card__link">www.yousaudi.com</a>
            </div>
        </div>
        <!--Mobile Apps-->

        <!--Websites-->
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="web-sites">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/digitalexperts.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">DigitalExperts</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br/>
                    FrontEnd => using VisualComposer to build the UI/UX.<br/>
                    BackEnd => using WordPress with PHP to meet the client requirement.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>VisualComposer</li>
                    <li>JavaScript</li>
                    <li>WordPress</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://digitalexperts.ae" class="project-card__link">www.digitalexperts.ae</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="web-sites">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/ask-aladdin.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Ask-Aladdin</h3>
                <p class="project-card__description">
                    Was responsible for editing the Front/Back end. <br/>
                    FrontEnd => using Bootstrap/Javascript to build the UI/UX.<br/>
                    BackEnd => using CakePHP with PHP to build mini CRM.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>BootStrap</li>
                    <li>JavaScript</li>
                    <li>CakePHP</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="https://www.ask-aladdin.com/" class="project-card__link">www.ask-aladdin.com</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="web-sites">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/makdosahw.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Makdosah Web</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br/>
                    FrontEnd => using VisualComposer to build the UI/UX.<br/>
                    BackEnd => using WordPress with PHP to meet the client requirement.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>VisualComposer</li>
                    <li>WooCommerce</li>
                    <li>JavaScript</li>
                    <li>WordPress</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://makdosah.com" class="project-card__link">www.makdosah.com</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="web-sites">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/soft.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">SoftImageAdv</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br/>
                    FrontEnd => using VisualComposer to build the UI/UX.<br/>
                    BackEnd => using WordPress with PHP to make it multi languages meet the client requirement.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>VisualComposer</li>
                    <li>JavaScript</li>
                    <li>WordPress</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://softimageadv.com" class="project-card__link">www.softimageadv.com</a>
            </div>
        </div>
        <!--Websites-->

        <!--Landing Pages-->
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="landing-pages">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/ksa.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Ksa-Exhibition Landing Page</h3>
                <p class="project-card__description">
                    Was responsible for editing the Front end. <br/>
                    FrontEnd => using Bootstrap/Javascript to build the UI/UX.<br/>
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>BootStrap</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                </ul>
                <a target="_blank" href="http://ksa-exhibition.info/" class="project-card__link">www.ksa-exhibition.info</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="landing-pages">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/takkahl.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Takkah Landing Page</h3>
                <p class="project-card__description">
                    Was responsible for editing the Front end. <br/>
                    FrontEnd => using Bootstrap/Javascript to build the UI/UX.<br/>
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>BootStrap</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                </ul>
                <a target="_blank" href="https://www.takkah.me/" class="project-card__link">www.takkah.me</a>
            </div>
        </div>
        <!--Landing Pages-->
    </div>
</section>
<!--Portfolio-->
