<!--Portfolio-->
<section id="portfolio" class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2 id="portfolio_header" class="section__title">My projects_</h2>
        </div>
    </div>
    <div class="row portfolio-menu">
        <div class="col-md-12">
            <nav>
                <ul>
                    <li><a href="" data-portfolio-target-tag="all">all</a></li>
                    <li><a href="" data-portfolio-target-tag="mobile apps">mobile apps</a></li>
                    <li><a href="" data-portfolio-target-tag="web-sites">web-sites</a></li>
                    <li><a href="" data-portfolio-target-tag="landing-pages">landing pages</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="portfolio-cards">
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="mobile apps">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/makdosah.png" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Makdosah</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br />
                    FrontEnd => using React Native with React to build the UI/UX.<br />
                    BackEnd  => using WordPress/WooCommerce with PHP to build the RESTful API.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>React</li>
                    <li>React Native</li>
                    <li>JavaScript</li>
                    <li>WordPress</li>
                    <li>WooCommerce</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://makdosah.com" class="project-card__link">www.makdosah.com</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="mobile apps">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/takkah.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">Takkah</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br />
                    FrontEnd => using Ionic with Angular to build the UI/UX.<br />
                    BackEnd  => using Laravel with PHP to build the RESTful API.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>Ionic</li>
                    <li>Cordova</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Native-API</li>
                    <li>Laravel</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://takkah.me" class="project-card__link">www.takkah.me</a>
            </div>
        </div>
        <div class="row project-card" data-toggle="modal" data-portfolio-tag="mobile apps">
            <div class="col-md-6 col-lg-5 project-card__img">
                <img class="" src="assets/img/projects/yousaudi.jpg" alt="project-img">
            </div>
            <div class="col-md-6 col-lg-7 project-card__info">
                <h3 class="project-card__title">YouSaudi</h3>
                <p class="project-card__description">
                    Was responsible for building the Front/Back end. <br />
                    FrontEnd => using Ionic with Angular to build the UI/UX.<br />
                    BackEnd  => using PHP to build the RESTful API.
                </p>
                <p class="project-card__stack">Used stack:</p>
                <ul class="tags">
                    <li>Ionic</li>
                    <li>Cordova</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Native-API</li>
                    <li>PHP</li>
                </ul>
                <a target="_blank" href="http://www.yousaudi.com/" class="project-card__link">www.yousaudi.com</a>
            </div>
        </div>
    </div>
</section>
<!--Portfolio-->
