<!--Resume-->
<section id="resume" class="container section">
    <div class="row">
        <div class="col-md-10">
            <h2 id="resume_header" class="section__title">Resume_</h2>
            <p class="section__description">
                My formal field of study was on the English language at The Higher Institute of Language, however I have spent several
                thousands of hours over the past decade practicing and mastering a variety of programming languages.
                Programming is both my passion and my career choice - for this reason I can offer my dedication and
                passion in software engineering on a variety of platforms in your projects.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 section__resume resume-list">
            <h3 class="resume-list_title">education</h3>
            <div class="resume-list__block">
                <p class="resume-list__block-title">Self Learning </p>
                <p class="resume-list__block-date">2008 - <span class="now"></span></p>
                <p>
                    Taught myself <span class="resume-list__block-date">(from new to old)</span> <br/>
                    React Native, React, GraphQL, NativeScript, Ionic, Angular2, NodeJS, CakePHP, Laravel, JavaScript,
                    CSS3 , HTML, PHP, JAVA, C#, C++ ... and more
                </p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">The Higher Institute of Language</p>
                <p class="resume-list__block-date">2008 - 2013</p>
                <p>
                    Bachelor's degree in English language.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 section__resume resume-list">
            <h3 class="resume-list_title">employment</h3>
            <div class="resume-list__block">
                <p class="resume-list__block-title">DigitalExperts.ae / Ask-Aladdin <span
                        class="resume-list__block-date">(full-time)</span></p>
                <p class="resume-list__block-date">2017 - 2018</p>
                <p>
                    Senior Full Stack Developer, IT, and Host Manager.
                </p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">IDigitalAgency <span
                        class="resume-list__block-date">(full-time)</span></p>
                <p class="resume-list__block-date">2016 - 2018</p>
                <p>
                    Senior Full Stack Developer, Cross Platform Mobile Developer <span class="resume-list__block-date">(Hybrid & Native)</span>,
                    IT, and Host Manager.
                </p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">Ide-Academy <span class="resume-list__block-date">(part-time)</span>
                </p>
                <p class="resume-list__block-date">2016 - 2018</p>
                <p>
                    Senior Full Stack (Instructor & Developer), IT, and Host Manager.
                </p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">CSCExport <span class="resume-list__block-date">(full-time)</span>
                </p>
                <p class="resume-list__block-date">2016 - 2017</p>
                <p>
                    Senior Full Stack Developer, IT, and Host Manager.
                </p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">BrandingMisr <span
                        class="resume-list__block-date">(full-time)</span></p>
                <p class="resume-list__block-date">2015 - 2016</p>
                <p>
                    Senior Full Stack Developer.
                </p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">FreeLancer <span class="resume-list__block-date">(part-time)</span>
                </p>
                <p class="resume-list__block-date">2009 - <span class="now"></span></p>
                <p>
                    Based on the job I have applied to.
                </p>
            </div>
        </div>
    </div>
    <div class="row section__resume progress-list js-progress-list">
        <div class="col-md-12">
            <h3 class="progress-list__title">general skills</h3>
        </div>
        <div class="col-md-5 mr-auto">
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">html5</span>
                    <span class="progress-list__skill-value">80%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">css3</span>
                    <span class="progress-list__skill-value">70%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">java script</span>
                    <span class="progress-list__skill-value">90%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">jquery</span>
                    <span class="progress-list__skill-value">80%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">React Native</span>
                    <span class="progress-list__skill-value">90%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">NativeScript</span>
                    <span class="progress-list__skill-value">70%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">C#</span>
                    <span class="progress-list__skill-value">80%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mr-auto">
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">bootstrap 4</span>
                    <span class="progress-list__skill-value">80%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">git</span>
                    <span class="progress-list__skill-value">70%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">Laravel</span>
                    <span class="progress-list__skill-value">90%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">Ionic</span>
                    <span class="progress-list__skill-value">90%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">GraphQL</span>
                    <span class="progress-list__skill-value">70%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">JAVA</span>
                    <span class="progress-list__skill-value">60%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="progress-list__skill">
                <p>
                    <span class="progress-list__skill-title">C++</span>
                    <span class="progress-list__skill-value">70%</span>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Resume-->
