<!--Testimonials-->
<div id="testimonials" class="section">
    <div class="background slider-carousel" style="background-image: url(assets/img/img_bg_main.jpg);">
        <div class="container">
            <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselTestimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselTestimonials" data-slide-to="1"></li>
                    <li data-target="#carouselTestimonials" data-slide-to="2"></li>
                    <li data-target="#carouselTestimonials" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-10 mr-auto ml-auto">
                                <p class="slider-carousel__title">Omar Nagi</p>
                                <p class="slider-carousel__caption">Project: CSCExport</p>
                                <hr>
                                <p class="slider-carousel__description">
                                    Abanoub worked with us on a relatively large project for just over a month. We found
                                    it easy to communicate with him and he was very accommodating. We have had to deal
                                    with many developers over the years, many of which were condescending and rude.
                                    Abanoub is a fresh face as he is very helpful and patient when explaining complex
                                    systems to non-programmers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-10 mr-auto ml-auto">
                                <p class="slider-carousel__title">Mohamed Ali</p>
                                <p class="slider-carousel__caption">Project: Takkah</p>
                                <hr>
                                <p class="slider-carousel__description">
                                    Love my new app! I have no words to describe how happy I am with the result. I came
                                    with a basic concept and he turned it into reality. So far the app is working
                                    flawlessly and my clients have shown positive feedback. This new system has made
                                    communicating with my customers far more effective and far easier.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="slider-carousel__circle">
                    <p><i class="fa fa-quote-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonials-->
